 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container{
     background: #23424A;
     width: 100%;
    margin: 0;
    padding: 9em 8em;
    color: white;
}
.content{
    width: 50%;
    max-width: 750px;
}

h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
h1,p,button{
    margin: 0 0 1.5rem 0;
}
.btn{
    font-size: 1rem;
    font-weight: 800;
    border-radius: 2.5rem;
    background: skyblue;
    border: none;
    padding: 1.5em 3em;
    margin:4rem 0 0;
}